/*
 * this is one way to get a horizontal nav bar; but anything similar is OK
 */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    background-color: green;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
}

/*
 * something like this is required to get rid of the bullets in the main
 * gallery and do something decent with the margin and padding
 */
main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main li {
    padding: 10px;
}
