main ul {
    display: flex;
    flex-wrap: wrap;
}

/*
 * if the gallery contains different sized images, you
 * may also have to set "width" or "flex-basis" properities
 * here on "li" elements to ensure that the images a appear in neat rows
 * and columns.
 *
 * OK if content is centred and/or top/left/bottom/right aligned
 */
 
/*
 * a media query similar to the one below is required to ensure
 * no more than 3 columns are displayed; acutal dimensions may depend on
 * size of the largest image in the collection
 */
@media screen and (min-width: 1000px) {
    body {
        width: 1000px;
    }
}