main li {
    float: left;
    /*
     * if the gallery contains different sized images, you
     * may also have to set "width" and "height" properities
     * here to ensure that the images a appear in neat rows
     * and columns.
     *
     * OK if content is centred and/or top/left/bottom/right aligned
     */
}

footer {
    clear: both;
}

/*
 * optionally may also set @media screen and (min-width: ???) {...}
 * to set repsonsive breaks for a responsive layout
 */
