header {
    background-color: #c14242;
}

nav {
    background-color: #3fbfbf;
}

main {
    background-color: #bf7f3f;
}

article {
    background-color: #bfbf3f;

}

footer {
    background-color: #7fbf3f;
}

